.nameProducto{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;

    align-items: center;
    /* background-color: black; */

}
.imgProducto{
    background-color: aliceblue;
}
.name{

    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}